@model TechMoveGLMS.Models.ServiceRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract.ContractId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalCostUSD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalCostUSD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConvertedCostZAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConvertedCostZAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestId">Edit</a> |
    <div style="margin-top: 20px;">
        <a asp-action="Index" class="btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Back to List
        </a>
    </div>
</div>
